
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_AdminNav")


@*@using System.Data
    @model DataTable

    <table cellpadding="5" cellspacing="5" border="1">
        <tr style="background-color:aliceblue">
            <th>User ID</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["user_id"]</td>
                <td>@dr["email"]</td>
                <td>@dr["address"]</td>
            </tr>
        }
    </table>*@
